<!DOCTYPE html>
<html>

<head>
    <title>Trello Display</title>
    <link rel='stylesheet' type='text/css' media='screen' href='/main.css'>
    <link rel='stylesheet' href='/display.css'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>

<body
    style="background-image:url('<%- board.prefs.backgroundImage %>');background-color:<%- board.prefs.backgroundBottomColor %>">
    <div class="d-flex flex-column h-100">
        <div class="trello-header">
            <h2 id="board-name"><%= board.name %></h2>
            <h2 class="ml-auto mr-5" id="url"><%= board.shortUrl %></h2>
        </div>
        <div class="lists">
            <% board.lists.forEach(list => { %>
            <div class="list">
                <span><%= list.name %> <span class="badge badge-primary"><%= board.cards.filter(card => card.idList == list.id).length %></span></span>
                <div class="trello-cards">
                    <% board.cards.filter(card => card.idList == list.id).forEach(card => { %>
                    <div class="trello-card">
                        <div class="trello-labels">
                            <% card.labels.forEach(label => { %>
                            <span class="trello-label"
                                style="background-color: <%- label.color %>;"><%= label.name %></span>
                            <% }) %>
                        </div>
                        <%= card.name %>
                    </div>
                    <% }) %>
                </div>
            </div>
            <% }) %>
        </div>
    </div>

    <div id="attribution">
        Powered by Trello Display<br>
        <b>trello-display.deniosoftware.com</b>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <script>
        $(function(){
            setTimeout(function(){
                $.ajax({
                    success: function(data){
                        $(document.body).html(data)
                    }
                })
            }, 10000)
        })
    </script>
</body>

</html>